* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url('/images/bg-2.png');
    max-width: 1140px;
    margin: 0 auto;
}


:root {
    --color-header: #EF4c27;
}
