<header>
    <div class="logo">
        <a href="/">
        <img src="/images/logo.png" alt="Logo">
        </a>
    </div>
    <nav>
        <ul class="menu">
            <li><a href="">Smartphones</a></li>
            <li><a href="">Tablets</a></li>
            <li><a href="">Computadoras</a></li>
        </ul>
        <ul class="user">
            <li><a href="/users/login">Login</a></li>
            <li><a href="/users/register">Registro</a></li>
        </ul>
    </nav>
</header>