<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head')  %> 
<body>

    <%- include('../partials/header')  %> 

    <main class="login">

        <h1>Bienvenido</h1>

        <form action="/products" method="GET">
            <div class='input'>
                <label for="name">Name</label>
                <input type="name" name="name" id="name" placeholder="Name">
                <button type="submit">Ingresar</button>
                
            </div>

          
        </form>

    </main>

</body>
</html>