<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head')  %> 
<body>

    <%- include('../partials/header')  %> 

    <main class="login">

        <h1>Bienvenido</h1>

        <form action="/users/login" method="POST">
            <div class='input'>
                <label for="email">Email</label>
                <input type="email" name="email" id="email" placeholder="Email">
            </div>

            <div class='input'>
                <label for="password">Contraseña</label>
                <input type="password" name="password" id="password">
            </div>
          

            <div class='checkLogin'>
                <input type="checkbox" name="Recordarme" id="checkbox">
                <label for="Recordarme">Recordarme</label>
            </div>
            <% if (locals.errors && errors.msg) { %> 
                <small> <%= errors.msg %>  </small>
                <% } %> 
            <div>
                <button type='submit'>Ingresar</button>
            </div>

        </form>

    </main>

</body>
</html>